.gender > img {
    width: 30px;
    height: 30px;
}
body{
    background-color:lightslategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    text-align: center;
}

button{
    font-family: inherit;
    margin: 15px 20px;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: lightsteelblue;
    cursor: pointer;
}
.planets,
.partsOfFilms{
    display: flex;
    align-items: center;
    justify-content: center;
}
.plannetsBlock,
.filmBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.active{
    background-color: rgb(76, 92, 112);
}
