/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald',sans-serif; */
 
body{
    background: url(img/sead-dedic-rNEqv7ThqwI-unsplash.jpg) no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;   
    position: relative;
    z-index: 1;
    color: white;
}
body::before{
    content: '';
    background: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.wrapper{
    position: relative;
    z-index: 3;
    min-height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    max-width: 1200px;    
    margin: 0 auto;
    padding: 30px 25px;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label,input{
    width: 50%;    
}
h1{
    font-size: 25px;
    margin: 5px 0;
    font-weight: 600;
}
button{
    border-radius: 5px;
    background: transparent;
    border: 3px white solid;
    color: white;
    padding: 10px 15px;
    margin: 5px 15px 5px 0;
    align-self: center;
    transition: 0.3s;
}
button:hover{
    background-color: rgb(255 255 255 / 49%);
}
li,p{
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"]{
    background: transparent;
    border-radius: 5px;
    background: transparent;
    border: 3px white solid;
    color: white;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media (max-width: 600px){
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .section{
        margin-bottom: 30px;
    }
}