body{
    background-image: url(img/norway8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.container > div {
    background: #e0f7fa73;
    border: rgba(70, 131, 180, 0.548) 2px solid;
    font-size:xx-large;
    text-align: center;
    color: rgb(62 78 93);
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.1s linear;
}
.container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    margin: 30px auto;
}

.container > div.active{
    transform: scale(1.1);
    border-color: #00d9ff;
    box-shadow: 0 0 1rem #002fff;
}
